= simple_form_for @analytical_standard do |f|

  = f.hidden_field :analytical_method_id, :value => params[:analytical_method]
  = f.input :user_id, :label => "Prepared by", :collection => users, :as => :select
  = f.input :preparation_date, :label => "Preparation date"
  = f.input :volume, :as => :string
  = f.input :notes, :input_html => { :rows => 2, :cols => 40 }
    
  .polaroid-border
    .polaroid-block
      %h2= "Standard for #{@method.name}"
      %table
        %tr
          %th Analyte
          %th Amount(g)
          %th Batch  
          = render :partial => 'analyte_row', :collection => @method.analytes, :as => :analyte
          
      .lowbuttons
        = f.submit @analytical_standard.new_record? ? 'Log Standard' : 'Update Standard', :disable_with => "Submitting..."