- title "New user"

.grid_6
  %h1 Sign up
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    %p
      = f.label :email
      = f.text_field :email
      = f.error :email
    %p
      = f.label :name
      = f.text_field :name
      = f.error :name
    %p
      = f.label :password
      = f.password_field :password
      = f.error :password
      %br/
      = f.hint 'Minimum 4 characters'
    %p
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = f.error :password_confirmation
    = f.input :security_code
    %p
      = f.label :terms_of_service
      By checking this box you agree that...
      %br/
      I agree
      = f.check_box :terms_of_service
      = f.error :terms_of_service
    = f.submit 'Sign up', :disable_with => "Submitting..."
