- if calibration_level_counter > 0 
  %div{ :id => "level#{calibration_level_counter}", :class => "display-none" }
    #polaroid-border
      #polaroid-block
        = calibration_level_counter
        %h2= "#{@instrument.name} #{@method.name}"
        - @method.analytes.each do |analyte|
          = analyte.name
          %b area
          %br/
        -if calibration_level != @calibration_levels.last  
          %a{ :id => "next", :href => "#" } Next
        - if calibration_level_counter > 0
          %a{ :id => "back", :href => "#" } Back
- else
  %div{ :id => "level#{calibration_level_counter}" }
    #polaroid-border
      #polaroid-block
        = calibration_level_counter
        %h2= "#{@instrument.name} #{@method.name}"
        - @method.analytes.each do |analyte|
          = analyte.name
          %b area
          %br/
        %a{ :id => "next", :href => "#" } Next
        - if calibration_level_counter > 0
          %a{ :id => "back", :href => "#" } Back