%div{ :id => "level", :class => "#{"display-none" unless calibration_level_counter == 0}"}
  .polaroid-border
    .polaroid-block
      %h2= "Snapshot for #{@instrument.name} #{@method.name}"
      - time_id = Time.now.to_f + calibration_level_counter
      = label_tag "Std Conc"
      = text_field_tag "run_log[calibration_levels_attributes][#{time_id}][standard_conc]"
      %br/
      %br/
      - @method.analytes.each do |analyte|
        - time_id2 = Time.now.to_f
        %label= analyte.name
        = hidden_field_tag "run_log[calibration_levels_attributes][#{time_id}][area_counts_attributes][#{time_id2}][analyte]", analyte.name
        = text_field_tag "run_log[calibration_levels_attributes][#{time_id}][area_counts_attributes][#{time_id2}][area]"
        %br/
      .lowbuttons
        - unless calibration_level == @levels.first
          %a{ :id => "back", :href => "#" } <
        - unless calibration_level == @levels.last  
          %a{ :id => "next", :href => "#" } >
        - if calibration_level == @levels.last
          = f.submit :disable_with => "Submitting..."