= simple_form_for @run_log do |f|
  = f.hidden_field :instrument_id, :value => params[:instrument]
  = f.hidden_field :analytical_method_id, :value => params[:analytical_method]
  = f.hidden_field :chromatographic_column_id, :value => params[:chromatographic_column]
  = f.input :run_date
  %p 
    %label
      Pressure and flow rate: 
    = f.text_field :pressure, :as => :string, :size => 3
    %bigtext @
    = f.text_field :flow_rate, :as => :string, :size => 3
    %bigtext mL/min
  
    = render :partial => 'run_log_level', :collection => @levels, :as => :level, :locals => { :f => f }


