.indexitem{ :id => "#{"even" if run_log_counter.even?}"}
  %h1= "Run log for #{run_log.find_instrument.name} #{run_log.find_method.name}"
  = "#{pluralize(run_log.calibration_levels.count, "level")}, #{pluralize(run_log.calibration_levels.first.area_counts.count, "analyte")}"
