- form_tag new_run_log_path, :method => 'get' do
  = label_tag(:instrument, "Instrument")
  = select_tag 'instrument', options_for_select(@instruments.collect{ |i| [i.name, i.id] })
  = label_tag(:method, "Method")
  = select_tag 'method', options_for_select(@methods.collect{ |m| [m.name, m.id] })
  = label_tag(:levels, "Levels")
  = text_field_tag(:levels, 3)
  = submit_tag("Start run log")