%h1 Create a run log

= simple_form_for @run_log do |f|
  = f.hidden_field :instrument_id, :value => params[:instrument]
  = f.hidden_field :analytical_method_id, :value => params[:method]
  = f.hidden_field :chromatographic_column_id, :value => params[:column]
  = f.input :run_date
  %p 
    %label
      Pressure and flow rate: 
    = f.text_field :pressure, :as => :string, :size => 3
    %bigtext @
    = f.text_field :flow_rate, :as => :string, :size => 3
    %bigtext mL/min
  
    / = render :partial => 'run_logs/calibration_level', :collection => @levels, :locals => { :f => f }
    - @levels.each_with_index do |level, i_1|
      %div{ :id => "level" }
        .polaroid-border
          .polaroid-block
            %h2= "Snapshot for #{@instrument.name} #{@method.name}"
            = label_tag "Std Conc"
            = text_field_tag "run_log[calibration_levels_attributes][#{i_1}][standard_conc]"
            - @method.analytes.each_with_index do |analyte, i_2|
              %label= analyte.name
              = hidden_field_tag "run_log[calibration_levels_attributes][#{i_1}][area_counts_attributes][#{i_2}][analyte]", analyte.name
              = text_field_tag "run_log[calibration_levels_attributes][#{i_1}][area_counts_attributes][#{i_2}][area]"
            .lowbuttons
              - unless i_1 + 1 == @levels.first
                %a{ :id => "back", :href => "#" } <
              - unless i_1 + 1 == @levels.last  
                %a{ :id => "next", :href => "#" } >
              - if i_1 + 1 == @levels.last
                = f.submit :disable_with => "Submitting..."
