%h1 Add a maintenance event

= simple_form_for @maintenance_event do |f|
  = f.input :instrument_id, :collection => Instrument.all, :as => :select
  = f.input :user_id, :label => "Technician", :collection => User.all, :as => :select
  = f.input :date
  %p
    = f.label :problem
    %br/
    = f.text_area :problem, :rows => 2, :cols => 40 
  %p
    = f.label :maintenance_performed
    %br/
    = f.text_area :maintenance_performed, :rows => 2, :cols => 40
  %p
    = f.label :result
    %br/
    = f.text_area :result, :rows => 2, :cols => 40
  = f.button :submit