- title "Sign in"

= header('Sign In') do
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = f.input :email
    = f.input :password
    %p= f.submit 'Sign in', :disable_with => "Submitting..."

