= simple_form_for @chromatographic_column do |f|
  = f.input :name
  - if @chromatographic_column.new_record?
    = f.association :instrument, :input_html => { :id => 'instrument', :class => "dynamic_select" }, :prompt => "Select one"
    = f.input :analytical_method_id, :collection => [], :as => :select, :input_html => { :id => 'analytical_method' }
  -else 
    %p
      %label
        Instrument:
        %br/
        = @chromatographic_column.instrument.name
        %br/
        Analytical Method:
        %br/
        = @chromatographic_column.analytical_method.name
  = f.input :brand
  = f.input :description, :input_html => { :rows => 2, :cols => 40 }
  = f.input :serial    
  = f.input :received
  = f.input :notes, :input_html => { :rows => 2, :cols => 40 }
  = f.submit @chromatographic_column.new_record? ? 'Add column' : 'Edit column', :disable_with => "Submitting..."