= simple_form_for @chromatographic_column do |f|
  %p
    = f.label :name
    %br/
    = f.text_field :name
  = f.input :instrument_id, :collection => Instrument.all, :as => :select
  %p
    = f.label :brand
    %br/
    = f.text_field :brand
  %p
    = f.label :description
    %br/
    = f.text_area :description, :rows => 2, :cols => 40
  %p
    = f.label :serial
    %br/
    = f.text_field :serial
    
  = f.input :received
  %p
    = f.label :notes
    %br/
    = f.text_area :notes, :rows => 2, :cols => 40
  = f.submit @chromatographic_column.new_record? ? 'Add column' : 'Edit column'