= simple_form_for @instrument do |f|
  %p
    = f.label :name
    %br/
    = f.text_field :name
    = f.error :name
  %p
    = f.simple_fields_for :analytical_methods do |a_method|
      = render 'analytical_method_fields', :f => a_method
    .links
      =link_to_add_association 'Add method', f, :analytical_methods
    = @instrument.errors[:analytical_methods][0]
  = f.submit 'Create instrument'