/[if lt IE 9]
  = javascript_include_tag "html5"
  = javascript_include_tag "PIE"
  = javascript_include_tag "IE9"
  = javascript_include_tag "excanvas"
  

= javascript_include_tag "jquery"
= javascript_include_tag "rails"
= javascript_include_tag "application"
= javascript_include_tag "jquery-form"
= javascript_include_tag "jquery.cookie"
= javascript_include_tag "jquery-ui"
= javascript_include_tag "jquery.tables"
= javascript_include_tag "jquery.flot"
= javascript_include_tag "global-mod"
= javascript_include_tag "nested_form"
/ = javascript_include_tag "cocoon"

/[if lt IE 9]
  = javascript_include_tag "ie"

= csrf_meta_tag