= stylesheet_link_tag 'reset', :media => 'screen'
= stylesheet_link_tag 'text', :media => 'screen'
= stylesheet_link_tag '960', :media => 'screen'
= stylesheet_link_tag 'layout', :media => 'screen'
= stylesheet_link_tag 'nav', :media => 'screen'
/[if IE 6]
  = stylesheet_link_tag 'ie6', :media => 'screen'
/[if IE 7]
  = stylesheet_link_tag 'ie', :media => 'screen'