= stylesheet_link_tag 'reset', :media => 'screen'
= stylesheet_link_tag 'grid', :media => 'screen'
= stylesheet_link_tag 'style', :media => 'screen'
= stylesheet_link_tag 'messages', :media => 'screen'
= stylesheet_link_tag 'forms', :media => 'screen'
= stylesheet_link_tag 'tables', :media => 'screen'
= stylesheet_link_tag 'blue', :media => 'screen'

/[if lt IE 8]
  = stylesheet_link_tag 'ie', :media => 'screen'
