!!!
%html
  %head
    %title= content_for?(:title) ? "Chromalog | #{content_for(:title)}" : "Chromalog"
    = render :partial => 'layouts/stylesheets'
    = render :partial => 'layouts/javascript'
  %body
    #wrapper
      = render :partial => 'layouts/nav_bar' 
      %section
        %div{ :class => "container_8 clearfix" }
          %section{ :class => "main-section grid_8" }
            %section{ :class => "main-content grid_2 alpha" }
            %section{ :class => "main-content grid_4"}
              = yield 
            %section{ :class => "main-content grid_2 omega"}
          %section{ :class => "main-section grid_8"}
            -if Rails.env.development?
              = debug(params) 
    %footer