!!!
%html
  %head
    %meta{ :name => 'viewport', :content => 'width=500'} 
    %title= content_for?(:title) ? "Chromalog | #{content_for(:title)}" : "Chromalog"
    = render :partial => 'layouts/stylesheets'
    = render :partial => 'layouts/javascript'
  %body
    .container_6
      = render :partial => 'layouts/branding' 
      = render :partial => 'layouts/nav_bar' 
      = render :partial => 'layouts/flash_bar' 
      .grid_6
        .spacer
        = yield 
      .clear
      .spacer
      -if Rails.env.development?
        = debug(params) 