!!!
%html
  %head
    %meta{ :name => 'viewport', :content => 'width=500'} 
    %title Chromalog | #{ yield(:title) }
    = render :partial => 'layouts/stylesheets'
    = render :partial => 'layouts/javascript'
  %body
    .container_6
      = render :partial => 'layouts/branding' 
      = render :partial => 'layouts/nav_bar' 
      = render :partial => 'layouts/flash_bar' 
      .grid_6
        = yield 
      .clear
      .bottomspace
      -if Rails.env.development?
        = debug(params) 